@use 'var';

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

body {
    max-width: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: var.$black;
}


/* Webkit scrollbar starts*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #351070;
  /* Track color */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #3b2274, #2196F3);
  /* Thumb gradient */
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  /* Border color of the thumb */
}

/* Optional: hover effect on thumb */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #121518, #2f0b94);
}
// webkit scrollbar ends


// header section starts
.header_section {
  border-bottom: 1px solid;

  nav {
    .logo {
      margin-left: 40px;
      transition: all 0.4s ease;

      &:hover {
        transform: scale(1.1)
      }

      .k_logos {
        border-radius: 100%;
        text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.8);
      }
    }

    .main_nav {
      flex-grow: 0;
      text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.8);

      a {
        font-size: 20px;
        font-weight: 400;
        color: var.$white;
        padding-bottom: 5px;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom-color: var.$off_white;
        }
      }

      button {
        padding: 0px;
        margin-left: 30px;

        a {
          background-color: indigo;
          color: var.$white;
          font-size: 18px;
          font-weight: 500;
          text-decoration: none;
          padding: 15px 25px;
          border-radius: 5px;
          transition: all 0.4s ease;

          &:hover {
            background-color: var.$off_white;
            color: var.$black;
          }
        }
      }
    }
  }
}
// header section ends

// hero section starts
.hero_section {
  padding: 60px;
  min-height: 90vh;

  h1 {
      font-size: 76px;
      font-weight: 700;
      line-height: 100px;
      color: var.$white;
  }

  p {
      font-size: 18px;
      font-weight: 400;
      color: var.$white;
      margin: 30px 0px;
  }

  button {
      padding: 0px;

      a {
          text-decoration: none;
          background-color: indigo;
          padding: 15px 45px;
          font-size: 18px;
          font-weight: 500;
          color: var.$white;
          transition: all 0.4s ease;
          border-radius: 5px;

          &:hover {
              background-color: var.$white;
              color: var.$black;
          }
      }
  }
}
// hero section ends

// about section starts
.about_section {
  padding: 100px 0px;
  color: var.$black;
  background-color: var.$gray;
  .container {
      img {
          width: 70%;
          text-align: left;
          border-radius: 100%;
      }

      h3 {
          font-size: 24px;
          font-weight: 500;
      }

      h2 {
          font-size: 46px;
          font-weight: 700;
      }

      p {
          font-size: 18px;
          font-weight: 400;
      }

      .social_icons {
          max-width: 100px;
          display: flex;
          justify-content: space-between;

          a {
              color: var.$black;
              text-decoration: none;
              font-size: 20px;
              transition: all 0.4s ease;

              &:hover {
                  color: indigo;
              }
          }
      }
  }
}

.experience_section {
  padding: 100px 0px;

  .container {
      .cs_row {
          gap: 20px;
          justify-content: space-between;
      }

      h2 {
          margin-bottom: 20px;
          font-size: 36px;
          color: var.$off_white;
      }

      .exp_box {
          box-sizing: border-box;
          padding: 25px;
          border: 2px solid transparent;
          transition: all 400ms ease;
          width: 49%;

          &:hover {
              border-color: var.$off_white;
          }

          h3 {
              font-size: 32px;
              font-weight: 500;
              color: var.$black;
          }

          h4 {
              font-size: 24px;
              font-weight: 400;
          }

          ul {
              font-size: 18px;
              font-weight: 400;
              color: var.$off_white;
              padding-left: 20px;
              margin-top: 10px;
          }
      }
  }
}
// about section ends 

// experience section starts
.experience_section {
  padding: 100px 0px;

  .container {
      .cs_row {
          gap: 20px;
          justify-content: space-between;
      }

      h2 {
          margin-bottom: 20px;
          font-size: 36px;
          color: var.$off_white;
      }

      .exp_box {
          box-sizing: border-box;
          padding: 25px;
          border: 2px solid transparent;
          transition: all 400ms ease;
          width: 49%;

          &:hover {
              border-color: var.$off_white;
          }

          h3 {
              font-size: 32px;
              font-weight: 500;
              color: var.$off_white;
          }

          h4 {
              font-size: 24px;
              font-weight: 400;
              color: var.$white;
          }

          ul {
              font-size: 18px;
              font-weight: 400;
              color: var.$gray;
              padding-left: 20px;
              margin-top: 10px;
          }
      }
  }
}
// experience section ends 


//  skills section starts
.skills_section {
  padding: 50px 0px;

  .container {
    padding: 20px 23px;
    max-width: 1500px;
    margin: 0 auto;  

    .row {
      display: flex;
      justify-content: space-around;

      .kin {
        flex: 0 0 100%;
        text-align: center;
        margin-bottom: 40px;

        h1 {
          font-size: 40px;
          margin-bottom: 20px;

          span {
            color: var.$white;

            &:hover {
              text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.8);
            }
          }
        }
      }

      .card {
        width: 288px;
        margin-bottom: 30px;
        border: none;
        transition: transform 0.3s ease;
        background-color: var.$off_white;

        &:hover {
          transform: translateY(-10px);
          color: var.$black;
        }

        .card-img-top {
          height: 200px;
          object-fit: cover;
        }

        .card-body {
          text-align: center;

          .card-title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
          }

          .card-text {
            font-size: 20px;
            color: var.$black;
          }
        }
      }
    }
  }
}
//  skills section ends

// project section starts
.project-section {
  padding: 50px 20px;
  background-color: #f5f5f5;

  .project-title {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    img {
      width: 100%;
      height: 700px;
      object-fit: cover;
      display: block;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.1);
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover .overlay {
      opacity: 1;
    }

    .overlay-text {
      color: #ffff  ;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

// project section ends

// contact section starts
.contact-section {
  padding: 100px 0;

  .container {
    max-width: 1500px;
    border-radius: 10px;
    padding: 40px;
    .row {
      align-items: center;
    }
  }

  h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: var.$black;
  }

  // Contact Information section
  .contact-info {
    text-align: center;
    margin-bottom: 30px;
    background-color:  var.$gray;
    color: var.$black;
    padding: 30px;
    border-radius: 10px;
    i {
      font-size: 1.5rem;
      margin-right: 10px;
    }

    p {
      margin-bottom: 5px;
    }
  }

  // Contact Form section
  .contact-form {
    background-color:  var.$gray;
    padding: 30px;
    border-radius: 10px;
    transition: all 0.4s ease;

    &:hover {
      transform: scale(1.1)
    }

    h2 {
      font-size: 2.5rem;
      color: var.$black;
      margin-bottom: 30px;
    }

    .form-group {
      margin-bottom: 20px;

      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 15px;
        font-size: 1rem;
        border: 1px solid #ced4da;
        border-radius: 10px;

        &:focus {
          border-color: var.$black;
          outline: 0;
          box-shadow: 0 0 0 0.2rem burlywood;
        }
      }

      textarea {
        resize: none;
      }
    }

    .btn-submit {
      background-color: var.$white;
      border-color: var.$black;
      height: 50px;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-radius: 10px;

      &:hover {
        background-color: var.$black;
        color: var.$white;
      }
    }
  }
}
// contact section ends

// footer section starts
footer {
  max-width: 100%;
  padding: 50px 0px;
  color: var.$off_white;
  font-size: 18px;
  text-align: center;

  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;

    .footer-left {
      h3 {
        margin-top: 0px;
        font-size: 24px;
        color: var.$off_white;
      }

      p {
        margin-bottom: 20px;
        font-size: 18px;
      }
    }

    .footer-right {
      p {
        margin-top: 0px;
        font-weight: bold;
        font-size: 18px;
        color: var.$off_white;
      }

      ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        li {
          margin-bottom: 8px;
          font-size: 18px;

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}
// footer section ends 